<!doctype html>
<html lang="vi">
<head>
    <!--Import Google Icon Font-->
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        p.login{
            text-align: center;
        }
    </style>
</head>

<body>
<div class="waves-light" style="height:50px;background-image: url(https://lh5.googleusercontent.com/NplHsFMjyO6ML5EvR9xHtFi-nxa61W58LE1uaPB_c_VnTtnspJnCOzr9uuHcbTdn_ZNGWW8dJA=w400);
    /* background-size: cover; */
    /* background-position: center; */
    color: rgba(255, 255, 255, 1);"></div>
<div style="padding:20px;max-width:420px;margin:auto;">
    <h3 style="text-align:center;">Đăng Kí</h3>
    <div style="height:10px;"></div>
    <form method="post" action="/user/register" id="register" class="col s12">
        <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email" name="email" type="email" required>
            <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">person_add</i>
            <input id="name" name="name" type="text" required>
            <label for="name">Name</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">screen_lock_portrait</i>
            <input id="password" name="password" type="password" required>
            <label for="password">password</label>
        </div>


        <div class="input-field col s12">
            <i class="material-icons prefix">supervisor_account</i>
            <select id="gender" name="gender">
                <option value="" disabled selected>Giới tính</option>
                <option value="Nam">Nam </option>
                <option value="Nữ">Nữ </option>
                <option value="Khác">Khác</option>
            </select>
        </div>

        <br/>
        <div class="row">
            <div class="col s6">
                <button class="btn btn-large waves-effect pink accent-3" type="reset" >Reset
                    <i class="material-icons right">settings_backup_restore</i>
                </button>
            </div>
            <div class="col s6">
                <button class="btn btn-large waves-effect waves-light" type="submit">Đăng kí
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
        <div><p class="login" >Đã có tài khoản? đăng nhập <a href="/user/login">tại đây</a></p></div>
</div>
</form>
</div>




<!--Import jQuery before materialize.js-->
<script>// Variable to hold request
var request;

// Bind to the submit event of our form
$("#register").submit(function(event){

    // Abort any pending request
    if (request) {
        request.abort();
    }
    // setup some local variables
    var $form = $(this);

    // Let's select and cache all the fields
    var $inputs = $form.find("input, select, button, textarea");

    // Serialize the data in the form
    var serializedData = $form.serialize();

    // Let's disable the inputs for the duration of the Ajax request.
    // Note: we disable elements AFTER the form data has been serialized.
    // Disabled form elements will not be serialized.
    $inputs.prop("disabled", true);

    // Fire off the request to /form.php
    request = $.ajax({
        url: "https://script.google.com/macros/s/AKfycbz3oG_5Nigd67eOike15Ay8LJ53DS0ZzSjhqvS6DDDrMzlGTl4i/exec",
        type: "post",
        data: serializedData
    });

    // Callback handler that will be called on success
    request.done(function (response, textStatus, jqXHR){
        // Log a message to the console
        console.log("Hooray, it worked!");
        console.log(response);
        console.log(textStatus);
        console.log(jqXHR);
        $("#register")[0].reset();
    });

    // Callback handler that will be called on failure
    request.fail(function (jqXHR, textStatus, errorThrown){
        // Log the error to the console
        console.error(
            "The following error occurred: "+
            textStatus, errorThrown
        );
    });

    // Callback handler that will be called regardless
    // if the request failed or succeeded
    request.always(function () {
        // Reenable the inputs
        $inputs.prop("disabled", false);

    });

    // Prevent default posting of form
    event.preventDefault();
});
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
</body>
</html>